{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aventura TCP/IP: Carrera de Capas</title>
    
    <link rel="stylesheet" href="{% static 'aplicacion/style.css' %}">
    
</head>
<body> 
    <h1 class="title">
        AVENTURA TCP/IP: CARRERA DE CAPAS 🏁
    </h1>
    
    <p class="subtitle">
        ¿Listo para el desafío?
    </p>

    <div class="button-container">
        
        <a href="{% url 'login_profesor' %}" class="btn btn-profesor">
            Ingresar como profesor
        </a>
        
        <a href="{% url 'login_estudiante' %}" class="btn btn-estudiante">
            Ingresar como estudiante
        </a>
        
    </div>
    
</body>
</html>